<tr>
	<td><%= link.title%></td>
	<td><%= link.given_url%></td>
	<td><%= link.created_at.strftime("%d %b. %Y")%></td>

	<td><a href="<%= link.short_url%>"><%= link.short_url%></a></td>
	<td><%= link.clicks%></td>
</tr>